@font-face {
    font-family: adobeinvis;
    src: url('./fonts/HU_A0015.TTF');
}

.main {
    width: 1280px;
    height: 1626px;
    margin: 0 auto;
    font-family: adobeinvis;
}

.fon {
    margin-top: -5px;
    background-color: rgb(228, 226, 226);
    padding-bottom: 93px;
}